APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:zDHf+yKIty1QIh5QiZ1bDZGkCiyrdyAB9fZS2kNPwls=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
TIME_ZONE=PRC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mik
DB_USERNAME=#填寫
DB_PASSWORD=#填寫
DB_TIMEZONE=+08:00

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=#填寫
MAIL_PASSWORD=#填寫
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=#填寫
MAIL_FROM_NAME=mik

GITHUB_KEY=
GITHUB_SECRET=
GITHUB_REDIRECT_URI=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

FB_CLIENT_ID=#填寫
FB_CLIENT_SECRET=#填寫
FB_REDIRECT=http://localhost:8000/user/auth/facebook-sign-in-callback

GITHUB_KEY=#填寫
GITHUB_SECRET=#填寫
GITHUB_REDIRECT=http://localhost:8000/user/auth/github-sign-in-callback

GOOGLE_KEY=#填寫
GOOGLE_SECRET=#填寫
GOOGLE_REDIRECT=http://localhost:8000/user/auth/google-sign-in-callback

LINE_KEY=#填寫
LINE_SECRET=#填寫
LINE_REDIRECT=https://1da43f06.ngrok.io/user/auth/line-sign-in-callback

YAHOO_KEY=#填寫
YAHOO_SECRET=#填寫
YAHOO_REDIRECT=https://1da43f06.ngrok.io/user/auth/yahoo-sign-in-callback

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSSHER_APP_CLUSTER}"


#ecpay
HashKey=5294y06JbISpM5x9
HashIV=v77hoKGq4kWxNNIS
MerchantID=2000132
ECReturnURL=https://69308166.ngrok.io/Callback
ECPeriodReturnURL=https://69308166.ngrok.io/Callback
ECClientBackURL= https://69308166.ngrok.io/Success
